<!-- storytelling specification -->
<with>
  <pause>
    <condition>!isHumanFaceVisible</condition>
    <run><say></say></run>
  </pause>
  <constraint>
    <starton>!isHumanSpeaking</starton>
  </constraint>
  <actions>
    <sequence>
      <run><say>hello</say></run>
      <run><say>nice to meet you</say></run>
      <run><say>bye</say></run>
    </sequence>
  </actions>
</with>

<!-- q&a specification -->
<flowchart>
  <q0>
    <run>
      <display>Which color do you like?</display>
      <ask><value>red</value><value>blue</value></ask>
    </run>
    <next>
      <q1>askResult == "red"</q1>
      <q2>askResult == "blue"</q2>
    </next>
  </q0>
  <q1>
    <run><display>"You like red like roses!"</display></run>
  </q1>
  <q2>
    <run><display>"You like blue like violet!"</display></run>
  </q2>
</flowchart>

<!-- exercise coach specification -->
<decorate>
  <decorator>
    <filter>
      (action) => ["left-0", "left-1"].indexOf(action.id) !== -1
    </filter>
    <map>
      (action) => ({ endon: `(humanFaceDirection == "left") &&
      (actionStatus["${action.id}"] == "running")` })
    </map>
  </decorator>
  <decorator>
    <filter>
      (action) => ["right-0", "right-1"].indexOf(action.id) !== -1
    </filter>
    <map>
      (action) => ({ endon: `(humanFaceDirection == "right") &&
      (actionStatus["${action.id}"] == "running")` })
    </map>
  </decorator>
  <actions>
    <sequence>
      <run id="left0"><display>Tilt your head to your left</display></run>
      <run id="right0"><display>Tilt your head to your right</display></run>
      <run id="left1"><display>Tilt your head to your left</display></run>
      <run id="right1"><display>Tilt your head to your right</display></run>
    </sequence>
  </actions>
</decorate>
